codes/01_action_node_EditFields.json
{
  "name": "01_action_node_EditFields",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7261a9d3-ebd6-4a2b-add2-e813952fcfb1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://zenquotes.io/api/random",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "599bbbff-f7a4-40bd-8ff9-b04ec447c6f4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e77a79bc-481d-492b-bb48-faac114451f5",
              "name": "quote",
              "value": "={{ $json.q }}",
              "type": "string"
            },
            {
              "id": "82b150ac-c412-4cc9-a141-aaad89245335",
              "name": "help",
              "value": "={{ $json.h }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "0f9ca64b-7607-46c2-a643-6da63a7c2bb4",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a0f4f1a6-2c36-4352-b82c-3f2171d5795e",
  "meta": {
    "instanceId": "88f826aa6108025a1d1c807dce3c2f5b22fc0e3f44de3b25c24ff50ab6fbeb0d"
  },
  "id": "3Y5SsLB6JI5tQHcr",
  "tags": []
}